html, body, section, article, div, img, ul, li, h1, h2, a{
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
}

body{
	background-color: #fff;
}

a {
	color: #FF6666;
	height: 0;
}

section{
	margin-bottom: 1em;
}

.main-image{
	width: 100%;
	height: 70vh;
	overflow: hidden;
}

.main-image img{
	width: 100%;

	transition: transform 1s linear;
}

.sec-image {
	width: 100%;
}

.sec-image>img{
	width: 100%;
}

.half-imgs{
	width: 50%;
}

.half-imgs>img{
	width: 100%;
}

.thirds-imgs{
	width: 33.33333%;
}

.thirds-imgs>img{
	width: 100%;
}

.grammar{
	width: 100%;
}

.grammar>li {
	width: 50%;
}

.grammar>li>a>img{
	max-width: 100%;
	vertical-align: bottom;
}

.orn-video{
	width: 100%;
	display: flex;
}

.orn-video>li{
	max-width: 33vw;
	margin: 0;
}

.orn-video>li>video{
	object-fit: contain;
	max-width: 100%;
}



.win-image{
	width: 33.33333%;
}

.win-image>img{
	width: 100%;
}

#win-images{
	width: 100%;
	display: flex;
}

.content-image{
	width: 100%;
}

.content-image img{
	width: 100%;
}

article{
	padding-top: .5em;
	padding-bottom: 1.5em;
}

.notes>h1{
	font-weight: 400;
	font-style: italic;
	font-size: 4em;
	margin: 2% auto;
}

.notes>h2{
	font-weight: 400;
	margin-bottom: 0;
}

.notes>h3{
	margin-top: 0;
}

.notes>p{
	font-weight: 300;
	font-size: 100%;
}

#normal {
	padding: 1em 0;
}

.content{
	max-width: 50em;
	margin: 0 auto;
}

.descr {
	max-width: 75vw;
	padding-left:.5em;
	padding-right: .5em;
	margin: 3vw auto 2rem auto;
}

.descr h1{
	font-weight: 400;
	font-style: italic;
	font-size: 8vw;
	margin: 1.5rem auto;
}

.descr h2{
	font-weight: 400;
	font-size: 2rem;
}

.descr p{
	font-weight: 300;
	font-size: .9em;
}

.ev-imgs{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.index{
	max-width: 95vw;
	margin: 2rem auto;
	display: flex;
}

.index>div#name{
	width: 48%;
	margin: 0 1rem 0 1rem;
	font-size: 1.5rem;
}

.index>div#name>img{
	max-width: 100%;
	-webkit-filter: grayscale(100%) brightness(120%);
	-o-filter: grayscale(100%) brightness(120%);
	filter: grayscale(100%) brightness(120%);
}

.index>div#details{
	width: 48%;
	margin: 0;
}

.index h1{
	font-weight: 400;
	font-style: italic;
	font-size: 4em;
	margin: 0 auto;
}

.index h2{
	font-weight: 400;

}

.index p{
	font-weight: 300;
	font-size: .9em;
}

.notes{
	max-width: 50vw;
	padding: 0 .5rem;
	margin-bottom: 2vw;
}

.notes>p{
	margin-top: 0;
	margin-bottom: 0;

}

.notes>h2#current{
	margin: 1rem 0;
}

#back-link{
	font-size: 2em;
	margin: 0;
}

.teaching{
	max-width: 50vw;
	padding: 0 .5rem;
}

.teaching h1{
	font-weight: 400;
	font-style: italic;
	font-size: 4em;
	margin: 0 auto;
}

.teaching h2{
	font-weight: 400;
	padding-bottom: 1.25em;

}

.teaching p{
	font-weight: 300;
	font-size: .9em;
}

.teaching p#current{
	font-size: 1.5rem;
}

.projects{
	font-size: 2em;
	margin-bottom: 0;
	margin-top: .6em;
	margin-left: -.3em;
	font-weight: 300;
}

.about{
	font-size: 2em;
	margin-bottom: 0;
	margin-top: .6em;
	margin-left: -.2em;
	font-weight: 300;
}

div#officehours{
	width: 100vw;
	height: 100vh;
}

div#officehours>iframe{
	width: 100%;
	height: 100%;
}

#subtopic{
	margin-top: 5rem;
}

article.cv{
	width: 90vw;
	display: flex;
}

.cv h1{
	font-size: 2rem;
	font-weight: 400;
	font-style: italic;
}

.cv h2{
	font-weight: 400;
	margin-bottom: .5rem;
}

#italic{
	font-style: italic;
	margin-bottom: .5rem;
}

#first{
	padding-top: 1.25em;
}

#stanza{
	padding-bottom: 1.25em;
}

#press{
	margin-top: 2rem;
	margin-bottom: .5rem;

	font-style: italic;
	font-weight: 300;
}

#press-body{
	margin-top: 0;
	padding-left: 1.5rem;
}

#illustrations{

}

blockquote{
	font-weight: 400;
	font-style: italic;
	text-indent: 10% each-line;
	padding-bottom: 1.1em;
	margin-top: .5rem;
}

.resp-video{
	padding-bottom: 56.25%;
	padding-top: 2%;
	height: 0;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.resp-video>iframe{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.works{
	width: 100%;
}

.proj-descr{
	padding-left: 1vw;
	margin-top: 5vw;
	margin-bottom: 1.25vw;
}

.proj-descr>h2{
	font-weight: 300;
	font-style: italic;
}

.works>li{
	width: 100%;
	display: inline-block;
}

.works>li>a{
	width:100%;
}

.works>li>a>img{
	max-width: 100%;
	vertical-align: bottom;
}

#bellevue{
	margin-top: 3em;
	font-weight: 300;
	font-size: .9em;
}

#course{
	margin-top: 2em;
}

#ctitle{
	color: #0080FF;
}

ul.thisisfine{
	width: 100%;
	margin-bottom: 2vw;
}

.hts{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hts>li{
	width: 50%;
	margin:  0;
}

.hts>li img{
	max-width: 100%;
}

.hts-video{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10vw;
}

.hts-video>li{
	width: 50%;
}

.hts-video>li video{
	width: 100%;
}

.paradise{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.paradise > li{
	width: 33%;
}

.paradise > li img{
	max-width: 100%;
}

#first-thing{
	margin-bottom: 0;
}

#spock{
	margin-top: 0;
}

@media (min-width: 600px) {
	.works>li{
		max-width: 33.33333%;
		float: left;
	}

	.projects{
		display: none;
	}

	section{
		margin-bottom: 0;
	}

	.grammar>li {
		width: 50%;
		float: left;
	}

	.thisisfine{
		width: 100vw;
		display: flex;
		justify-content: space-between;
	}

	li#install{
		width: 50%;
	}

	.thisisfine>li{
		width: 33.333%;
	}

	.thisisfine>li img{
		max-width: 100%;
	}
}

@media	(max-width: 900px){
	.main-image{
		height: 60vh;
	}

	.main-image img{
		transform: scale(2) translateY(20%);

		transition: transform 1s linear;
	}

	
}

@media (max-width: 600px) {
	.main-image{
		height: 50vh;
	}

	

	.descr h1{
		font-size: 10vw;
	}

	.notes{
		max-width: 100vw;
	}

	.index{
		display: inline;
		margin:  0 auto;
	}

	.index>div#name{
		width: 95%;
		margin: 0 auto;
	}

	.index>div#details{
		width: 95%;
		margin: 0 auto;
	}

	.thisisfine>li>a{
		width: 100%;
	}

	.thisisfine>li>a>img{
		width: 100%;
	}
}
