html, body, section, article, div, img, ul, li, h1, h2, a{
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
}

a {
	color: #FF6666;
	height: 0;
}

section{
	margin-bottom: 1em;
}

.main-image{
	width: 100%;
	height: 75vh;
	overflow: hidden;
}

.main-image img{
	width: 100%;
}

.sec-image {
	width: 100%;
}

.sec-image>img{
	width: 100%;
}

.thirds-imgs{
	width: 33.33333%;
}

.thirds-imgs>img{
	width: 100%;
}

.grammar{
	width: 100%;
}

.grammar>li {
	width: 50%;
}

.grammar>li>a>img{
	max-width: 100%;
	vertical-align: bottom;
}

.orn-video{
	width: 100%;
	display: flex;
}

.orn-video>li{
	max-width: 33vw;
	margin: 0;
}

.orn-video>li>video{
	object-fit: contain;
	max-width: 100%;
}



.win-image{
	width: 33.33333%;
}

.win-image>img{
	width: 100%;
}

#win-images{
	width: 100%;
	display: flex;
}

.content-image{
	width: 100%;
}

.content-image img{
	width: 100%;
}

article{
	padding-top: .5em;
	padding-bottom: 1.5em;
}

.notes{
	padding-bottom: .5em;
	max-width: 61.75em;
	padding-left:.5em;
	padding-right: .5em;
	margin-bottom: .1%;
}

.notes>h1{
	font-weight: 400;
	font-style: italic;
	font-size: 4em;
	margin: 2% auto;
}

.notes>h2{
	font-weight: 400;
}

.notes>p{
	font-weight: 300;
	font-size: 100%;
}

#normal {
	padding: 1em 0;
}

.content{
	max-width: 50em;
	margin: 0 auto;
}

.descr {
	max-width: 50vw;
	padding-left:.5em;
	padding-right: .5em;
	margin: 2rem auto;
}

.descr h1{
	font-weight: 400;
	font-style: italic;
	font-size: 4em;
	margin: 1.5rem auto;
}

.descr h2{
	font-weight: 400;

}

.descr p{
	font-weight: 300;
	font-size: .9em;
}

.ev-imgs{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.index{
	max-width: 95vw;
	margin: 2rem auto;
	display: flex;
}

.index>div#name{
	width: 48%;
	margin: 0 1rem 0 1rem;
	font-size: 1.5rem;
}

.index>div#name>img{
	max-width: 100%;
	-webkit-filter: grayscale(100%) brightness(120%);
	-o-filter: grayscale(100%) brightness(120%);
	filter: grayscale(100%) brightness(120%);
}

.index>div#details{
	width: 48%;
	margin: 0;
}

.index h1{
	font-weight: 400;
	font-style: italic;
	font-size: 4em;
	margin: 0 auto;
}

.index h2{
	font-weight: 400;

}

.index p{
	font-weight: 300;
	font-size: .9em;
}

.notes{
	max-width: 50vw;
	padding: 0 .5rem;
}

.notes>p{
	margin-top: 0;
	margin-bottom: 0;

}

.notes>h2{
	margin-bottom: .75em;
}

#back-link{
	font-size: 2em;
	margin: 0;
}

.teaching{
	max-width: 50vw;
	padding: 0 .5rem;
}

.teaching h1{
	font-weight: 400;
	font-style: italic;
	font-size: 4em;
	margin: 0 auto;
}

.teaching h2{
	font-weight: 400;
	padding-bottom: 1.25em;

}

.teaching p{
	font-weight: 300;
	font-size: .9em;
}

.projects{
	font-size: 2em;
	margin-bottom: 0;
	margin-top: .6em;
	margin-left: -.3em;
	font-weight: 300;
}

.about{
	font-size: 2em;
	margin-bottom: 0;
	margin-top: .6em;
	margin-left: -.2em;
	font-weight: 300;
}

article.cv{
	width: 90vw;
	display: flex;
}

.cv h1{
	font-size: 2rem;
	font-weight: 400;
	font-style: italic;
}

.cv h2{
	font-weight: 400;
	margin-bottom: .5rem;
}

#italic{
	font-style: italic;
}

#first{
	padding-top: 1.25em;
}

#stanza{
	padding-bottom: 1.25em;
}

#press{
	margin-top: 2rem;
	margin-bottom: .5rem;

	font-style: italic;
	font-weight: 300;
}

#press-body{
	margin-top: 0;
	padding-left: 1.5rem;
}


blockquote{
	font-weight: 400;
	font-style: italic;
	text-indent: 10% each-line;
	padding-bottom: 1.1em;
}

.resp-video{
	padding-bottom: 56.25%;
	padding-top: 2%;
	height: 0;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.resp-video>iframe{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.works{
	width: 100%;
}

.works>li{
	width: 100%;
	display: inline-block;
}

.works>li>a{
	width:100%;
}

.works>li>a>img{
	max-width: 100%;
	vertical-align: bottom;
}

#bellevue{
	margin-top: 3em;
	font-weight: 300;
	font-size: .9em;
}

#course{
	margin-top: 2em;
}

#ctitle{
	color: #0080FF;
}

@media (min-width: 600px) {
	.works>li{
		max-width: 33.33333%;
		float: left;
	}

	.projects{
		display: none;
	}

	section{
		margin-bottom: 0;
	}

	.grammar>li {
		width: 50%;
		float: left;
}
}
}
