

html, body, section, article, div, img, ul, li, h1, h2, a{
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
}

a {
	color: #FF6666;
	height: 0;
}

section{
	margin-bottom: 1em;
}

.main-image{
	width: 100%;
}

.grammar{
	width: 100%;
}

.grammar>li {
	width: 100%;
}

.grammar>li>img{
	max-width: 100%;
	vertical-align: bottom;
}

.main-image img{
	width: 100%;
}

article{
	padding-top: .5em;
	padding-bottom: 1.5em;
}

.notes{
	padding-bottom: .5em;
	max-width: 61.75em;
	padding-left:.5em;
	padding-right: .5em;
	margin-bottom: .1%;
}

.notes>h1{
	font-weight: 400;
	font-style: italic;
	font-size: 4em;	
	margin: 2% auto;
}

.notes>h2{
	font-weight: 400;
}

.content{
	max-width: 50em;
	margin: 0 auto;
}

.descr {
	max-width: 50em;
	padding-left:.5em;
	padding-right: .5em;
}

.descr>h1{
	font-weight: 400;
	font-style: italic;
	font-size: 4em;	
	margin: 2% auto;
}

.descr>h2{
	font-weight: 400;

}

.descr>p{
	font-weight: 300;
	font-size: .9em;
}

#back-link{
	font-size: 2em;
	margin: 0;
}

.teaching>h2{
	padding-bottom: 1.25em;
}

.projects{
	font-size: 2em;
	margin-bottom: 0;
	margin-top: .6em;
	margin-left: -.3em;
	font-weight: 300;
}

.about{
	font-size: 2em;
	margin-bottom: 0;
	margin-top: .6em;
	margin-left: -.2em;
	font-weight: 300;	
}

#italic{
	font-style: italic;
}

blockquote{
	font-weight: 400;
	font-style: italic;
	text-indent: 10% each-line;	
	padding-bottom: 1.1em;
}

.resp-video{
	padding-bottom: 56.25%;
	padding-top: 2%;
	height: 0;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.resp-video>iframe{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.works{
	width: 100%;
}

.works>li{
	width: 100%;
	display: inline-block;
}

.works>li>a{
	width:100%;
}

.works>li>a>img{
	max-width: 100%;
	vertical-align: bottom;
}

#bellevue{
	margin-top: 3em;
	font-weight: 300;
	font-size: .9em;
}

#course{
	margin-top: 2em;
}

#ctitle{
	color: #0080FF;
}

@media (min-width: 600px) {
	.works>li{
		max-width: 33.33333%;
		float: left;
	}

	.projects{
		display: none;
	}

	section{
		margin-bottom: 0;
	}

	.grammar>li {
		width: 50%;
		float: left;
}
}
}